/* Reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: -1;
}

/* Container */
.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
  margin: 0 auto;
}

/* Logo */
.logo {
  width: 300px;
  margin-bottom: 30px;
}

/* Buttons */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  font-weight: none;
  transition: background 0.3s ease;
}

.btn-discord {
  background-color: #5865f2;
  color: white;
}

.btn-play {
  background-color: #43b581;
  color: white;
}

.btn-dark {
  background-color: #111;
  color: white;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  color: white;
  background-color: #333;
  overflow: hidden;
  transition: background 0.3s ease;
}

.btn.dc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 50px;
  width: 400%;           
  max-width: 550px;
  margin-left: -30px;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  color: white;
  background-color: #5865f2;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px transparent;
}

.btn.dc:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.3),
              0 0 40px rgba(255, 255, 255, 0.2);
  background-color: #5e9df0;
  color: rgb(255, 255, 255);
}

.btn.samp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 50px;
  width: 400%;           
  max-width: 550px;
  margin-left: -30px;
  margin-top: -5px;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  color: white;
  background-color: #428648;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px transparent;
}

.btn.samp:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.3),
              0 0 40px rgba(255, 255, 255, 0.2);
  background-color: #61af68;
  color: rgb(255, 255, 255);
}

.btn.rules {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 50px;
  width: 54%;           
  max-width: 550px;
  margin-left: -30px;
  margin-top: -5px;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  color: white;
  background-color: #000000;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px transparent;
}

.btn.rules:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.3),
              0 0 40px rgba(255, 255, 255, 0.2);
  background-color: #999999;
  color: rgb(255, 255, 255);
}

.btn.guide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 50px;
  width: 55%;           
  max-width: 550px;
  margin-left: 246px;
  margin-top: -52px;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  color: white;
  background-color: #000000;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px transparent;
}

.btn.guide:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.3),
              0 0 40px rgba(255, 255, 255, 0.2);
  background-color: #999999;
  color: rgb(255, 255, 255);
}

.btn .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  vertical-align: middle;
}

/* Social Icons */
.social-icons {
  margin: 20px 0;
}

.social-icons img {
  width: 40px;
  margin: 0 50px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.5);
}

/* Footer */
footer {
  font-size: 12px;
  color: #ccc;
  margin-top: 20px;
}
